.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20rem;
  padding: 7rem;
  background: var(--gray-700);
}

.newTask {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

input {
  padding: 1rem;
  width: 62rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--gray-700);
  background-color: var(--gray-400);
}

button {
  background-color: var(--blue-dark);
  border-radius: .4rem;
  
}
